@use 'the-new-css-reset/css/reset'

@use './color-emoji'

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;800&display=swap')

html
    color: #222
    font-weight: 400
    font-family: Emoji, 'Shippori Mincho B1', serif
    line-height: 1.8

    text-underline-offset: 0.1em

*
    -webkit-locale: auto

a
    color: #3d2fb9
    text-decoration: underline
    transition: text-decoration-color 0.15s ease-in-out

    text-decoration-color: lighten(#54e, 30%)

    &:hover
        text-decoration-color: transparent

*:focus:not(:hover)
    outline: 1px solid #54e

nav
    padding: 1rem 0.5rem
    height: 4rem
    border-bottom: 1px solid #ccc

    li
        display: inline-block
        margin-right: 5px

    a
        position: relative
        padding: 0 1em
        color: #222
        text-decoration: none
        text-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff
        transition: text-shadow 4s ease-in-out

        &::after
            position: absolute
            bottom: calc(-1rem - 5px)
            left: 0
            display: block
            width: 0
            height: 3px
            background-color: #eee
            content: ''
            transition: width 0.2s ease-in-out

        &:hover, &[aria-current]
            text-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff,0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff,0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff
            transition-duration: 0.2s

            &::after
                width: 100%

        &[href="/"]::before
            display: inline-block
            margin-right: 3px
            margin-left: 1px
            width: 1em
            height: 1em
            background-image: url(/images/favicon.svg)
            background-size: contain
            content: ''
            vertical-align: middle

    &.isTop
        background-image: url(/images/default.png)
        background-position: left top
        background-size: cover

footer
    padding: 2em
    text-align: center
    font-size: 0.8em

    &:not(:hover)
        opacity: 0.5

main
    margin: 40px auto
    padding: 0 40px
    max-width: 1000px

.tag
    display: inline-block
    margin-left: 0.3em
    padding: 0.1em 0.4em
    border-radius: 5px
    background-color: #eee
    text-decoration: none
    white-space: nowrap
    font-size: 0.7em
    line-height: 1.4

    &:hover
        background-color: #ddd

.links
    display: table
    border-spacing: 0 3em
    border-collapse: separate
    line-height: 1.6

.link-group
    display: table-row

.link-group-title
    display: table-cell
    padding-right: 1em
    width: 11em

.link-group-links
    display: table-cell
    padding-left: 1em
    border-left: 1px solid #ccc

.link
    margin-bottom: 0.4em
    padding-left: 2em
    text-indent: -2em

    > *
        text-indent: 0

    .tags
        white-space: nowrap

    p
        display: inline
        padding-left: 5px
        color: #999

    small
        color: #333
        white-space: nowrap
        font-size: 0.6em

:target
    animation: target-highlight 1s 3

@keyframes target-highlight
    0%
        background: #eee
    100%
        background: unset

sup
    vertical-align: super
    font-size: smaller
