@use 'modern-css-reset/dist/reset.min.css'
@use './color-emoji'

body
    padding-top: 4rem
    color: #222
    font-weight: 400
    font-family: Emoji, 'Shippori Mincho B1', serif
    line-height: 1.8

    text-underline-offset: 0.1em

a
    color: #3d2fb9
    text-decoration: underline
    transition: text-decoration-color 0.15s ease-in-out

    text-decoration-color: lighten(#54e, 30%)

    &:hover
        text-decoration-color: transparent

    .link-icon
        margin-right: 3px
        height: 1em
        vertical-align: middle
        transform: translateY(-1px)

nav
    position: fixed
    top: 0
    left: 0
    z-index: 999
    padding: 1rem 0.5rem
    width: 100%
    height: 4rem

    ul
        margin: 0
        padding: 0

    li
        display: inline-block
        margin-right: 5px

    a
        position: relative
        padding: 0 1em
        color: #222
        text-decoration: none
        text-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff
        transition: text-shadow 4s ease-in-out

        &::after
            position: absolute
            bottom: calc(-1rem - 7px)
            left: 0
            display: block
            width: 0
            height: 5px
            background-color: #eee
            content: ''
            transition: width 0.2s ease-in-out

        &:hover, &[aria-current]
            text-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff,0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff,0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff
            transition-duration: 0.2s

            &::after
                width: 100%

        &[href="/"]::before
            display: inline-block
            margin-right: 3px
            margin-left: 1px
            width: 1em
            height: 1em
            background-image: url(/images/favicon.svg)
            background-size: contain
            content: ''
            vertical-align: middle

    &.isTop
        border-bottom: 1px solid #ccc
        background-image: url(/images/default.svg)
        background-position: left top
        background-size: cover

footer
    padding: 2em
    text-align: center
    font-size: 0.8em

    &:not(:hover)
        opacity: 0.5

main
    margin: 40px auto
    padding: 0 40px
    max-width: 1000px

.links
    display: table
    margin: 0
    padding: 0
    border-spacing: 0 3em
    border-collapse: separate
    line-height: 1.6

    @media screen and (max-width: 800px)
        display: block
        margin-top: 3em
        border-spacing: unset

.link-group
    display: table-row

    @media screen and (max-width: 800px)
        display: block
        margin-bottom: 3em

.link-group-title
    display: table-cell
    padding-right: 1em
    width: 11em
    font-weight: inherit
    font-size: 1em

    @media screen and (max-width: 800px)
        display: block
        margin-bottom: 1em
        padding-right: 0
        width: auto
        font-size: 1.2em

.link-group-links
    display: table-cell
    padding-left: 1em
    border-left: 1px solid #ccc
    list-style: none

    @media screen and (max-width: 800px)
        display: block
        padding-left: 0
        border-left: none

.link
    margin-bottom: 0.4em
    padding-left: 2em
    text-indent: -2em

    @media screen and (max-width: 800px)
        padding-left: 1em
        text-indent: -1em

    > *
        text-indent: 0

    .tags
        white-space: nowrap

    p
        display: inline
        padding-left: 5px
        color: #757575

    small
        color: #333
        white-space: nowrap
        font-size: 0.6em

:target
    animation: target-highlight 1s 3

@keyframes target-highlight
    0%
        background: #eee
    100%
        background: unset

sup
    vertical-align: super
    font-size: smaller

img
    display: revert
