.mentions
    margin-top: 40px
    padding-top: 40px
    border-top: 1px solid #ccc

    @media screen and (max-width: 512px)
        padding-top: 20px

h1
    font-size: 1.3em

ol
    padding-left: 1em

    @media screen and (max-width: 800px)
        padding-left: 0

li
    margin-bottom: 1em
    line-height: 1.4

    &::marker
        color: #aaa

    span
        display: inline-block

        @media screen and (max-width: 800px)
            display: block
            margin-left: 1em

a.no-color
    text-decoration: none

    &:not(:hover)
        color: currentColor

    img
        margin: 0 5px

img
    width: 1em
    height: 1em
    vertical-align: middle
    transform: translateY(-2px)

blockquote
    margin-top: 0.4em
    margin-left: 2em
    padding-left: 1em
    border-left: 1px solid #ccc
    font-style: italic
    font-size: 0.8em

.reaction
    display: flex
    float: right
    margin-top: 0.3em
    margin-bottom: 1em

    gap: 0.5em

    a
        display: block
        padding-left: 2.1875em
        height: 1.704375em
        background-size: contain
        background-repeat: no-repeat
        text-decoration: none
        line-height: 1.35

        &:not(:hover)
            @media (hover: hover)
                opacity: 0.5

        small
            display: block
            font-size: 0.2em

        span
            display: block
            font-size: 0.7em

        @media screen and (max-width: 370px)
            font-size: 0.65em

    @media screen and (max-width: 512px)
        float: none
        justify-content: space-between

.loading::before
    display: block
    padding-left: 1.3em
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif)
    background-size: contain
    background-repeat: no-repeat
    color: #aaa
    content: '読み込み中'
    line-height: 0.9
