header
    margin-bottom: 2em

    h1
        font-weight: bold
        font-size: 2em
        line-height: 1.2

        ~ section
            margin-top: 1.5em

    .meta
        float: right
        text-align: right

        p
            margin: 0.25em 0

    .tag
        display: inline-block
        margin-right: 0.3em
        padding: 0.1em 0.4em
        border-radius: 5px
        background-color: #eee
        line-height: 1.4

    &::after
        display: block
        clear: both
        content: ''

.body
    line-height: 2
