header
    margin-bottom: 2em

    &:not(.noHeaderImage)
        padding-top: 360px

    h1
        font-weight: bold
        font-size: 2em
        line-height: 1.2

        ~ section
            margin-top: 1.5em

        &::before
            display: inline-block
            margin-left: -3em
            padding-right: 0.5em
            width: 3em
            text-align: right

            [data-kind] &
                content: "🌐"
            [data-kind="note"] &
                content: "🖋"
            [data-kind="タグ"] &
                content: "🏷"

    h2
        font-weight: inherit
        font-size: 1em

    .meta
        float: right
        text-align: right

        p
            margin: 0.25em 0

    .tag
        margin-right: 0.3em
        margin-left: 0
        font-size: 1em

    &::after
        display: block
        clear: both
        content: ''

.header-image
    position: absolute
    top: 0
    left: 0
    z-index: -999
    margin: 0
    width: 100%
    height: 400px
    background-image: url(/images/default.png)
    background-size: cover

    &.noHeaderImage
        height: 4rem

.body
    line-height: 2

.links-section
    margin-top: 120px
    border-top: 1px solid #ccc
